---
layout: page
title: "About Me"
description: "生活除了代码,还有诗和远方!"
header-img: "img/config/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <blockquote>
        <p>不管路走了多远<br>
        错了就要重新返回</p>
    </blockquote>

    <p>Hey，I'm <strong><a href="https://github.com/Shenbao">ShenBao(沈宝)</a></strong>, Web App Developer. </p>

</div>

<!-- English Version -->
<div class="en post-container">

     <p>Hey，I'm <strong><a href="https://github.com/Shenbao">ShenBao</a></strong>， Web App Developer. </p>

</div>

<p>
    自命有理想的手艺人。秉承技术源自生活服务于生活的原则，喜欢尝试各种新玩意儿，强迫症重度患者（匠心精神），乐于分享！ 
</p>

<h2 class="color-0085a1">INTRODUCTION</h2>
<ul>
    <li>
        <strong>Name: </strong>
        <a  class="color-0085a1" href="https://github.com/Shenbao">ShenBao</a>
    </li>
    <li>
        <strong>City: </strong>
        BeiJing,China
    </li>
    <li>
        <strong>Mail: </strong>
        <a class="color-0085a1" href="mailto:shenbao.china@gmail.com">shenbao.china@gmail.com</a>
    </li>
    <li>
        <strong>QQ、WeChat: </strong>1351814223
    </li>
    <li>
        <strong>微博: </strong>
        <a  class="color-0085a1" href="http://weibo.com/ShenBaoPro">沈宝</a>
    </li>
    <li>
        <strong>知乎: </strong>
        <a  class="color-0085a1" href="https://www.zhihu.com/people/shenbao">沈宝</a>
    </li>
    <li>
        <strong>GitHub: </strong>
        <a  class="color-0085a1" href="https://github.com/ShenBao">ShenBao</a>
    </li>
    <li>
        <strong>Blog: </strong>
        <a class="color-0085a1" href="https://shenbao.github.io">ShenBao Blog</a>
    </li>
    <li>
        <strong>开发笔记: </strong>
        <a class="color-0085a1" href="https://shenbao.github.io/shenbao-notes/">shenbao-notes</a>
    </li>
    <li>
        <strong>API文档: </strong>
        <a  class="color-0085a1" href="https://shenbao.github.io/blog">查看</a>
    </li>
    <li>
        <strong>React技术栈: </strong>
        <a  class="color-0085a1" href="https://shenbao.github.io/ishehui">查看</a>
    </li>
</ul>

<h2 class="color-0085a1">TECHNOLOGY</h2>
<ul>
    <li>HTML / HTML5</li>
    <li>CSS / CSS3</li>
    <li>LESS / SASS / SCSS  / POSTCSS</li>
    <li>Bootstrap </li>
    <li>JavaScript / ES5 / ES6+</li>
    <li>Jquery / Zepto</li>
    <li>React / React-Router / Redux / React-Native</li>
    <li>Webpack / Gulp / FIS3 / rollup</li>
    <li>Nodejs / Express / Koa</li>
    <li>mysql / MongoDB</li>
    <li>doT.js / Jade / Handlebarsjs </li>
    <li>Git / SVN / Shell</li>
</ul>
<h2 class="color-0085a1">QR CODE</h2>
<p>注：添加时请备注姓名！！！</p>
<img src="/img/config/myerweima-QQ-1.png" alt="我的QQ二维码" width="240">
<img src="/img/config/myerweima-wechat-1.png" alt="我的微信二维码" width="240">

<br/>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<hr>
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.hypercomments_userid %}
<hr>
<!--hypercomments 评论-->
<div id="hypercomments_widget"></div>
<script type="text/javascript">
var hypercomments_userid = "{{site.hypercomments_userid}}";
_hcwp = window._hcwp || [];
_hcwp.push({widget:"Stream", widget_id: hypercomments_userid});
(function() {
if("HC_LOAD_INIT" in window)return;
HC_LOAD_INIT = true;
var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/"+hypercomments_userid+"/"+lang+"/widget.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<a href="http://hypercomments.com" class="hc-link" title="comments widget"></a>
<!--hypercomments end-->
{% endif %}

