---
layout: page
title: "首页"
is-show-title: false
is-show-edit: false
---

<script>
    var isHome = (window.location.search || '').indexOf('h=1') !== -1;
    if(!isHome) {
        location.href = '/home';
    }
    console.log(isHome);
</script>

<div class="index">

    {% for post in paginator.posts %}
    <div class="post-preview">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:400 }}
            </div>
            <p class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.site_author }}{% endif %} on
                {{ post.date | date: "%B %-d, %Y" }}
            </p>
        </a>
    </div>
    <hr>
    {% endfor %}

    <!-- Pager -->
    <h5 class="page-index">
        Page: {{ paginator.page }} of
        <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}/">
            {{ paginator.total_pages }}
        </a>
    </h5>

    {% if paginator.total_pages > 1 %}
    <div class="pager">
        {% if paginator.previous_page %}
        <a class="previous" href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}?h=1">
            &larr; Newer Posts
        </a>
        {% endif %}

        {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}?h=1">
            Older Posts &rarr;
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
