<div class="site-contact-info">
    <div class="wrapper contact-info-content">
        <div>
            <a class="about" href="{{ site.data.config.contactInfo.about.path | relative_url }}" title="{{ site.data.config.contactInfo.about.title }}">
                {{ site.data.config.contactInfo.about.title }}
            </a>
            <a class="comment" href="{{ site.data.config.contactInfo.comments.path | relative_url }}" title="{{ site.data.config.contactInfo.comments.title }}">
                {{ site.data.config.contactInfo.comments.title }}
            </a>
        </div>

        <ul>
            {% for group in site.data.config.contactInfo.group %}
            <li>
                <dl>
                    <dt>{{ group.title }}</dt> {% for item in group.list %}
                    <dd>
                        <a href="{{ item.path }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a>
                    </dd>
                    {% endfor %}
                </dl>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>

<footer class="site-footer">

    <div class="license-content">
        <!-- <a rel="license nofollow noopener" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">
    <img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png">
    </a> -->
        <p>版权声明: 本作品由
            <a href="https://github.com/ShenBao" target="_blank">ShenBao</a> 创作，采用
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a> 进行许可。
        </p>
        <p>所有代码和文章都由
            <a href="https://github.com/ShenBao" target="_blank">ShenBao</a> 维护，可以随意转发，请保留作者署名及原文链接
        </p>
    </div>

    <div class="copyright-content">
        <p>
            Copyright {{ site.by_time }} © {{ site.site_url }}
        </p>
        <p>
            Author Email:
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
        <p class="theme">
            Theme by
            <a href="https://github.com/ShenBao" target="_blank" class="author" title="点击这里去GitHub看看">
                ShenBao
            </a> |
            <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="90px" height="20px" src="https://ghbtns.com/github-btn.html?user=ShenBao&repo=shenbao.github.io&type=star&count=true">
            </iframe>
        </p>
    </div>
</footer>

<script src="{{ "/dist/prism.js" | relative_url }}"></script>
<script src="{{ "/dist/shenbao-blog-app.js" | relative_url }}"></script>
