<div class="site-page-bottom">
    <section class="tags">
        <hr>
        <h5>
            <a href="{{'/tags/' | prepend: site.baseurl }}" title="tags">FEATURED TAGS</a>
        </h5>
        <div>
            {% for tag in site.tags %}
            <a href="{{ site.baseurl }}/tags#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
            {% endfor %}
        </div>
    </section>
    <section class="link">
        <hr>
        <h5>
            LINK
        </h5>
        <div>
            {% for item in site.data.config.sidebarLink %}
            <a href="{{ item.path }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </section>
</div>