/**
 * Code formatting
 */

pre,
code {
    @include relative-font-size(0.9375);
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f8f8f8 !important;
}

code {
    padding: 1px 5px;
}

code.highlighter-rouge {
    color: red;
}

div.highlighter-rouge,
blockquote {
    margin: 10px 0;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
    padding: 10px 12px !important;
    code {
        display: block;
        overflow-y: auto;
        font-weight: 300;
        font-family: Menlo, monospace;
        line-height: 24px !important;
    }
    code.has-numbering {
        margin-left: 25px;
        padding: 0 !important;
    }
}

.pre-numbering {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 10px 2px 10px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #AAA;
    margin: 0 !important;
    li {
        line-height: 24px !important;
    }
}

blockquote p {
    font-size: 16px;
}