/**
 * Site header
 */

.site-icon {
    display: none;
}

.site-header {
    position: relative;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    background: $main-background-color-one;
    .site-title {
        @include relative-font-size(1.625);
        font-weight: 300;
        line-height: $base-line-height * $base-font-size * 2.25;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        text-decoration: none;
        color: $main-color;
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            color: $mian-hover-color;
        }
        &:active {
            text-decoration: none;
        }
    }
    .site-nav {
        float: right;
        line-height: $base-line-height * $base-font-size * 2.25;
        .nav-trigger {
            display: none;
        }
        .menu-icon {
            display: none;
        }
        .page-link {
            font-size: 14px;
            color: $text-color;
            line-height: $base-line-height;
            text-align: left; // Gaps between nav items, but not on the last one
            // text-transform: uppercase; 是否需要大写
            text-decoration: none;
            &:hover {
                color: $main-color;
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        @include media-query($on-palm) {
            position: absolute;
            z-index: 999;
            top: 9px;
            right: $spacing-unit / 2;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;
            label[for="nav-trigger"] {
                display: block;
                float: right;
                width: 36px;
                height: 36px;
                z-index: 2;
                cursor: pointer;
            }
            .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 10px;
                text-align: center;
                >svg path {
                    fill: $grey-color-dark;
                }
            }
            input~.trigger {
                clear: both;
                display: none;
            }
            input:checked~.trigger {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .page-link {
                display: block;
                padding: 5px 20px;
                font-size: 16px;
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }
    .fork-me-on-github {
        position: absolute;
        z-index: 8888;
        top: 0;
        right: 0;
        width: 140px;
        height: 140px;
        img {
            width: 100%;
        }
    }
    @include media-query(1220px) {
        .fork-me-on-github {
            display: none;
        }
    }
}

.today-logion-container {
    .today-logion {
        margin: 15px auto 15px;
        color: #999;
        font-size: 13px;
    }
}