/**
 * shenbao-toc-tree
 */

.shenbao-toc-tree-hx {
    padding: 10px 0 !important;
}

.shenbao-toc-tree-catalog {
    position: fixed;
    z-index: 1000;
    right: 40px;
    top: 70px;
    width: 180px;
    background: #fdfdfd; // overflow: hidden;
    // border-radius: 15px;
    // border: 1px solid #dddddd;
    .shenbao-toc-tree-content {
        padding: 5px;
        box-sizing: border-box;
        width: 100%;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        background: #fdfdfd;
    }
    .shenbao-toc-tree-body {
        padding: 0;
        li {
            box-sizing: border-box;
            width: 96%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 30px;
            cursor: pointer;
            &.active {
                background-color: $main-color;
                color: $white-color;
            }
            a {
                color: grey;
                &:hover {
                    color: $main-color;
                }
            }
            &.h2-nav {
                padding-left: 10px;
                font-size: 15px;
            }
            &.h3-nav {
                padding-left: 18px;
                font-size: 13px;
            }
            &.h4-nav {
                padding-left: 26px;
                font-size: 11px;
            }
        }
    }
}

@include media-query($on-palm) {
    .shenbao-toc-tree-catalog {
        display: none;
    }
}

#shenbao-toc-tree-content::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(238, 237, 237);
}

#shenbao-toc-tree-content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#shenbao-toc-tree-content::-webkit-scrollbar-thumb {
    // background-color: rgb(240, 130, 130);
    // background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-color: rgb(211, 211, 211);
}