<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<!-- Image to hack wechat -->
<img src="/img/config/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<!-- back-to-top -->
<div id="back-top">
  <a href="#section" data-toggle="tooltip" data-placement="top" title="top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </a>
</div>
<!-- <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery-1.8.3.js"></script> -->
<script>
	$('#back-top').hide();
	$(document).ready(function () {
	$(window).scroll(function () {
    if ($(this).scrollTop() > 250) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 800);
    return false;
  });
});
</script>

</body>
</html>
